body {
    background-color: rgb(16, 19, 53) ;
    font-family: "Work Sans", sans-serif;
}

#container {
    width: 420px;
    margin-inline: auto;
}

#display {
    height: 80px;
    width: 416px;
    margin-bottom: 4px;
    background-color: white;
    font-size: 60px;
}

button {
    height: 100px;
    width: 100px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: none;
    font-size: 60px;
    font-family: inherit;
}

.operation-button {
    background-color: rgb(140, 60, 140);
}

.numeric-button {
    background-color: white;
}